* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  @font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf');
  }
  
  body {
     background-color: #000;
     color: #fff
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
  }
  
  .main::before,
  .main::after {
      content: '';
      background-color: #112D4E;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      position: fixed;
      top: 0;
      left: 0;
      width: 140vw;
      height: 100vh;
      z-index: -1;
  }
  
  .main::after {
      content: '';
      top: auto;
      left: auto;
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .header::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-size: contain;
  }
  
  .header .photo {
    width: 222px;
    height: 222px;
    border-radius: 50%; 
  }
  
  .header .title {
    font-family: 'Neue Machina';
    text-align: center;
  }
  
  .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-weight: 700;
  }
  
  .information p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
  }
  
  .information .job::before {
    background-image: url('../img/icons/job.svg');
  }
  
  .information .location::before {
    background-image: url('../img/icons/location.svg');
  }
  
  .information .email::before {
    background-image: url('../img/icons/email.svg');
  }

  .acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: 0.25s;
  }
  
  .acordeon.open,
  .acordeon:hover {
    background-color: #3F72AF;
    border-color: #3F72AF;
  }
  
  .acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 1rem;
    background-color: transparent;
    color: #fff;
    border: none;
  }
  
  .acordeon .trigger h2 {
    margin: 0;
    font-size: 1.4rem;
    text-align: start;
  }
  
  .acordeon .trigger:hover {
    cursor: pointer;
  }
  
  .acordeon .trigger::after {
    content:"";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/arrow-top.svg');
    transition: .25s;
  }
  
  .acordeon.open .trigger::after {
    transform: rotate(180deg);
  }
  
  .acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out ;
  }
  
  .acordeon.open .content {
    display: block;
    height: auto;
    opacity: 1 ;
    padding: 0 1rem 1rem 1rem;
  }

  .about {
    font-weight: 700;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills .tools ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills .tools ul li img {
    max-width: 50px;
    max-height: 50px;
    margin: 0.5rem;
}

.skills .personal ul {
    margin: 0;
    padding: 0;
}

.skills .personal ul li {
    margin-left: 2rem;
    padding: .5rem;
    font-weight: 700;
}

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    font-weight: 700;
}

.languages li::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/icons/check.svg'); 
  margin-right: .5rem;
}

.education {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.education li {
    margin-bottom: 1rem;
    font-weight: 700;
}

.education li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.education li .period {
    display: flex;
    flex-direction: row;
}

.education li .period::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/calendar.svg'); 
    margin-right: .5rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}

.projects li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.5rem 0;
    font-weight: 700;
}

.projects li img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.projects li a:hover {
    color: #fff;
    text-decoration: underline;
}

.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li {
    margin-bottom: 1rem;
    font-weight: 700;
}

.experience li img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.experience li .period {
    display: flex;
    flex-direction: row;
}

.experience li .period::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/calendar.svg'); 
    margin-right: .5rem;
  }
  
  @media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }
  
    .main::before,
    .main::after {
        width: 70vw;
    }

    .header {
        display: grid;
        grid-template-areas: 
        "photo title"
        "photo information"
        ;
    }
    
    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }
    
    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 210px;
    }
    
    .header .information {
        grid-area: information;
    }

    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tools, .personal {
       width: 300px;
       height: 200px; 
    }
  }